@{
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
    ViewBag.Title = "角色管理";
}
@model ApplicationRole
@section styles{
    <link href="~/content/tables.css" type="text/css" rel="stylesheet" />
    <style>
        .table-wrapper .table ul.actions {
            float: none;
        }

        .table-wrapper, .table-wrapper .filter-block {
            margin-bottom: 15px;
        }
    </style>
}
<div id="pad-wrapper" ng-app="roleApp" ng-controller="RoleCtrl">
    <div class="table-wrapper products-table section">
        <div class="row filter-block">
            @if (User.Identity.CheckActionRight("0503", ActionTypes.Create))
            {
                <div class="pull-left">
                    <a class="btn btn-primary" href="javascript:;" ng-click="roleModal()">
                        <i class="icon-plus"></i>
                        添加角色
                    </a>
                </div>
            }
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="100">
                            <span class="line"></span>
                            角色名称
                        </th>
                        <th width="100">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.Operator)
                        </th>
                        <th width="100">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.CreateTime)
                        </th>
                        <th width="100">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.Remark)
                        </th>
                        <th width="200">
                            <span class="line"></span>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in List">
                        <td ng-bind="c.Name"></td>
                        <td ng-bind="c.Operator"></td>
                        <td ng-bind="c.CreateDateDisplay"></td>
                        <td ng-bind="c.Remark"></td>
                        <td>
                            <ul class="actions" ng-hide="c.Name=='Admin'">
                                @if (User.Identity.CheckActionRight("0503", ActionTypes.Update))
                                {
                                    <li>
                                        <a href="javascript:;" ng-click="roleModal(c.Id)">修改</a>
                                    </li>
                                }
                                @if (User.Identity.CheckActionRight("0503", ActionTypes.Delete))
                                {
                                    <li class="last">
                                        <a href="javascript:;" ng-click="delete(c.Id,$event)">删除</a>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="roleModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{role.Id?'修改':'新建'}}角色</h4>
                </div>
                <div class="modal-body">
                    <form id="roleForm" method="post" class="form-horizontal" role="form">
                        @Html.HiddenFor(m => m.Id, new { ng_model = "role.Id" })
                        <input type="hidden" id="Id" name="Id" ng-model="role.Id" />
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色名称:<span class="hdy-red">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", ng_model = "role.Name" })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Remark, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-7">
                                @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", ng_model = "role.Remark" })
                                @Html.ValidationMessageFor(m => m.Remark)
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnCreate" type="button" data-delete="false" class="btn btn-primary">保 存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/page/page.role.js"></script>
}
