@using Framework.Common;
@using Framework.Common.Extensions;
@{
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
    ViewBag.Title = "用户管理";
    var states = EnumExtensions.GetDisplayNames<RecordStates, int>(requireAll: true).Where(m => new string[] { "", "4", "5", "6" }.Contains(m.Value));
    var editStates = states.Where(m => m.Value != string.Empty);
}
@model UserInfoQueryViewModel
@section styles{
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/content/tables.css" type="text/css" rel="stylesheet" />
    <style>
        .table-wrapper .table ul.actions {
            float: none;
        }

        .table-wrapper, .table-wrapper .filter-block {
            margin-bottom: 15px;
        }
    </style>
}
<div id="pad-wrapper" ng-app="deviceApp" ng-controller="DeviceCtrl">
    <div class="table-wrapper products-table section">
        <form id="queryForm" class="form-inline">
            <div class="row filter-block">
                @*<div class="form-group">
                        @Html.LabelFor(m => m.Province):
                        @Html.DropDownListFor(m => m.Province, new List<SelectListItem>(), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.City):
                        @Html.DropDownListFor(m => m.City, new List<SelectListItem>(), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Region):
                        @Html.DropDownListFor(m => m.Region, new List<SelectListItem>(), new { @class = "form-control" })
                    </div>*@
                <div class="form-group">
                    @Html.LabelFor(m => m.StartDate):
                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate):
                    @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RecordState):
                    @Html.DropDownListFor(m => m.RecordState, states, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.QueryText, new { @class = "form-control", placeholder = "请输入用户相关信息" })
                        <span class="input-group-btn">
                            <a id="btnQuery" href="javascript:;" class="btn btn-primary" ng-click="getList($event)">搜  索</a>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        @*<th width="100">
                                <span class="line"></span>
                                @Html.DisplayNameFor(m => m.Province)
                            </th>
                            <th width="100">
                                <span class="line"></span>
                                @Html.DisplayNameFor(m => m.City)
                            </th>
                            <th width="100">
                                <span class="line"></span>
                                @Html.DisplayNameFor(m => m.Region)
                            </th>
                            <th width="100">
                                <span class="line"></span>
                                @Html.DisplayNameFor(m => m.OpenArea)
                            </th>*@
                        <th width="200">
                            <span class="line"></span>
                            Mac地址
                        </th>
                        <th width="200">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.Name)
                        </th>
                        <th width="200">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.PhoneNumber)
                        </th>
                        <th width="200">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.CategoryName)
                        </th>
                        <th width="200">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.Amount)
                        </th>
                        <th width="100">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.AppVersion)
                        </th>
                        <th width="100">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.OsVersion)
                        </th>
                        <th width="100">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.Model)
                        </th>
                        <th width="100">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.Vendor)
                        </th>
                        <th width="250">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.LastLoginDate)
                        </th>
                        <th width="250">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.ExpiryDate)
                        </th>
                        <th width="250">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.CreateDate)
                        </th>
                        <th width="300">
                            <span class="line"></span>
                            @Html.DisplayNameFor(m => m.RecordState)
                        </th>
                        <th width="300">
                            <span class="line"></span>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in List">
                        @*<td ng-bind="c.Province  |areaFilter"></td>
                            <td ng-bind="c.Province  |areaFilter:c.City"></td>
                            <td ng-bind="c.Province  |areaFilter:c.City:c.Region"></td>
                            <td ng-bind="c.OpenAreaDisplay"></td>*@
                        <td ng-bind="c.ID"></td>
                        <td ng-bind="c.Name"></td>
                        <td ng-bind="c.PhoneNumber"></td>
                        <td ng-bind="c.CategoryName"></td>
                        <td ng-bind="c.Amount"></td>
                        <td ng-bind="c.AppVersion"></td>
                        <td ng-bind="c.OsVersion"></td>
                        <td ng-bind="c.Model"></td>
                        <td ng-bind="c.Vendor"></td>
                        <td ng-bind="c.LastLoginDateDesplay"></td>
                        <td ng-bind="c.ExpiryDateDesplay"></td>
                        <td ng-bind="c.CreateDateDisplay"></td>
                        <td ng-bind="c.RecordStateDisplay"></td>
                        <td>
                            <ul class="actions">
                                @if (User.Identity.CheckActionRight("0301", ActionTypes.Update))
                                {
                                    <li>
                                        <button ng-click="rechargeModal(c.ID)" class="btn btn-primary">充值</button>
                                    </li>
                                    <li>
                                        <a href="javascript:;" ng-click="deviceModal(c.ID)">修改</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" ng-click="deviceModal(c.ID)">启用</a>
                                    </li>
                                }
                                @if (User.Identity.CheckActionRight("0301", ActionTypes.Delete))
                                {
                                    <li class="last">
                                        <a href="javascript:;" ng-click="delete(c.ID,$event)">注销</a>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            @Html.Partial("_PaginationPartial")
        </div>
    </div>
    <div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="deviceModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{device.ID?'修改':'添加'}}用户信息</h4>
                </div>
                <div class="modal-body">
                    <form role="form" method="post" class="form-horizontal" id="deviceForm">
                        @*<div class="form-group">
                                <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.Province)<span class="hdy-red">*</span>：</label>
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(m => m.Province, new List<SelectListItem>(), new { @class = "form-control", data_clear = false })
                                    @Html.ValidationMessageFor(m => m.Province)
                                    @Html.Hidden("hProvince", Model.Province)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.City)<span class="hdy-red">*</span>：</label>
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(m => m.City, new List<SelectListItem>(), new { @class = "form-control", data_clear = false })
                                    @Html.ValidationMessageFor(m => m.City)
                                    @Html.Hidden("hCity", Model.City)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.Region)<span class="hdy-red">*</span>：</label>
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(m => m.Region, new List<SelectListItem>(), new { @class = "form-control", data_clear = false })
                                    @Html.ValidationMessageFor(m => m.Region)
                                    @Html.Hidden("hRegion", Model.Region)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.OpenArea)：</label>
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(m => m.OpenArea, new List<SelectListItem>(), new { @class = "form-control" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="col-sm-3 control-label">mac地址：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" ng-bind="device.ID"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.Name)：</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @ng_model = "device.Name" })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.PhoneNumber)：</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @ng_model = "device.PhoneNumber" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.CategoryID)<span class="hdy-red">*</span>：</label>
                            <div class="col-sm-7">
                                @Html.DropDownListFor(m => m.CategoryID, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CategoryID)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.Gender)<span class="hdy-red">*</span>：</label>
                            <div class="col-sm-7">
                                @Html.DropDownListFor(m => m.Gender, EnumExtensions.GetDisplayNames<GenderTypes, int>(), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Gender)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.RecordState)<span class="hdy-red">*</span>：</label>
                            <div class="col-sm-7">
                                @Html.DropDownListFor(m => m.RecordState, editStates, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.RecordState)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.Address)：</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @ng_model = "device.Address" })
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.Remark)：</label>
                            <div class="col-sm-7">
                                @Html.TextAreaFor(m => m.Remark, 4, 0, new { @class = "form-control", @ng_model = "device.Remark" })
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="save($event)">保 存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_RechargePartial")
</div>

@section scripts{
    @Scripts.Render("~/bundles/angular")
    @Html.Partial("_DatetimepickerPartial")
    @*<script src="~/Scripts/jquery.area.js"></script>*@
    <script src="~/Scripts/page/userInfo.index.js"></script>
}
